<header>
    <div class="logo">Q&A</div>
    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Perguntas</a></li>
            <li><a href="#">Sobre</a></li>
        </ul>
    </nav>
</header>