<%- include ('partials/head.ejs') %>
<%- include ('partials/header.ejs') %>
<body>
   
    <div class="container">
        <h2>Faça uma Pergunta</h2>
        <form id="questionForm" method="POST" action="/pergunta/salvar">     
                  <label for="title">Título da Pergunta:</label>
            <input type="text" id="title" required name="titulo">
            
            <label for="description">Descrição:</label>
            <textarea id="description" rows="4" required name="desc">

            </textarea>
            
            <button type="submit">Realizar Pergunta</button>
        </form>
        
        <div id="questions"></div>
    </div>
    
   
</body>
</html>